@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700');
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.8;
}
img {
    max-width: 100%;
}
.hero {
    min-height: calc(100vh - 63px);
}
.btn-cta {
    padding: 0.8rem 1.5rem;
    border-radius: 50px;
}
.btn-color{
    background-color: white;
    color:#329BFF;
}
p {
    color: darkgray;    
}
.h-color{
    color:#329BFF;
}
.h4-color{
    color:#329BFF;
}
.section2{
    padding-left: 120px;
}
.header{
    align-content: center;
    padding-left: 400px
    
}
.icon1{
    width: 200px;
    padding-left: 55px;
}
.icon2{
    width: 200px;
    padding-left: 55px;
}
.icon3{
    width: 200px;
    padding-left: 55px;
}
ul li{
    list-style: none;
    padding-top: 8px;
}

.section2{
    padding-left: 200px;
}
.f-section{
    background-image: url('/img/footer.png');
}
